<a href="https://colab.research.google.com/github/tongtiger/KUanwjrrlrP/blob/master/kaggle/titanic/SVM_20_7_30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import svm
import pandas as pd

In [5]:
train_data = pd.read_csv("/content/drive/Shared drives/Kaggle/titanic/data/train_data_20_7_30.csv")
train_data = pd.DataFrame(train_data)

train_data.drop(columns = ['Unnamed: 0', 'Ticket', 'Fare', 'Cabin'], inplace=True)

train_data

     Survived    Pclass  Sex     Age  SibSp  Parch  Embarked
0           0  1.000000    1  0.2750      1      0  0.333333
1           1  0.333333    0  0.4750      1      0  0.666667
2           1  1.000000    0  0.3250      0      0  0.333333
3           1  0.333333    0  0.4375      1      0  0.333333
4           0  1.000000    1  0.4375      0      0  0.333333
..        ...       ...  ...     ...    ...    ...       ...
884         0  0.666667    1  0.3375      0      0  0.333333
885         1  0.333333    0  0.2375      0      0  0.333333
886         0  1.000000    0  0.0125      1      2  0.333333
887         1  0.333333    1  0.3250      0      0  0.666667
888         0  1.000000    1  0.4000      0      0  1.000000

[889 rows x 7 columns]

In [6]:
train_data = train_data.values

In [18]:
Y = train_data[:, 0]
X = train_data[:, 1:6+1]

X.shape

(889, 6)

#SVC 사용

In [41]:
model = svm.SVC()
model.fit(X, Y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

#Linear SVC 사용

In [46]:
model = svm.LinearSVC()
model.fit(X, Y)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

#NuSVC 사용

In [48]:
model = svm.NuSVC()
model.fit(X, Y)

NuSVC(break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
      decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
      max_iter=-1, nu=0.5, probability=False, random_state=None, shrinking=True,
      tol=0.001, verbose=False)

In [25]:
test_data = pd.read_csv("/content/drive/Shared drives/Kaggle/titanic/data/test_data_20_7_29.csv")

test_data = pd.DataFrame(test_data)

test_data.drop(columns=['Unnamed: 0'], inplace=True)

test_data['Pclass'] = test_data['Pclass']/3
test_data['Age'] = test_data['Age']/80
test_data['Embarked'] = test_data['Embarked']/3

test_data

     PassengerId    Pclass  Sex       Age  SibSp  Parch  Embarked
0          892.0  1.000000    1  0.431250    0.0    0.0  0.333333
1          893.0  1.000000    0  0.587500    1.0    0.0  0.666667
2          894.0  0.666667    1  0.775000    0.0    0.0  0.333333
3          895.0  1.000000    1  0.337500    0.0    0.0  0.666667
4          896.0  1.000000    0  0.275000    1.0    1.0  0.666667
..           ...       ...  ...       ...    ...    ...       ...
413       1305.0  1.000000    1  0.378407    0.0    0.0  0.666667
414       1306.0  0.333333    0  0.487500    0.0    0.0  1.000000
415       1307.0  1.000000    1  0.481250    0.0    0.0  0.666667
416       1308.0  1.000000    1  0.378407    0.0    0.0  0.666667
417       1309.0  1.000000    1  0.378407    1.0    1.0  1.000000

[418 rows x 7 columns]

In [26]:
test_data = test_data.values

In [49]:
input = test_data[:, 1: 6+1]

predictions = model.predict(input)

answer = {'PassengerId':[], 'Survived': []}

for Id in test_data[:, 0]:
  answer['PassengerId'].append(Id)

for prediction in predictions:
  answer['Survived'].append(prediction)

result = pd.DataFrame(answer)

result = result.astype('int')

result.info()

result.to_csv("/content/drive/Shared drives/Kaggle/titanic/data/result(NuSVC)_20_7_30.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB