<a href="https://colab.research.google.com/github/tongtiger/KUanwjrrlrP/blob/master/kaggle/house_prices/preprocessing_20_8_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("/content/drive/Shared drives/Kaggle/house_prices/data/train.csv")
train = pd.DataFrame(train)

test = pd.read_csv("/content/drive/Shared drives/Kaggle/house_prices/data/test.csv")
test = pd.DataFrame(test)

In [3]:
test_nullcolumn = []

for column in test.columns:
  for data in test[column].isnull():
    if data == True:
      if column not in test_nullcolumn:
        test_nullcolumn.append(column)

In [4]:
train_nullcolumn = {}

for column in train.columns:
  for data in train[column].isnull():
    if data == True:
      if column not in train_nullcolumn:
        train_nullcolumn[column] = 1
      else:
        train_nullcolumn[column] += 1

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [6]:
dtype = {'int64': [], 'float64': [], 'object' : []}

for column in train.columns:
  if train[column].dtype == 'object':
    dtype['object'].append(column)
  elif train[column].dtype == 'int64':
    dtype['int64'].append(column)
  else:
    dtype['float64'].append(column)

In [7]:
dtype

{'float64': ['LotFrontage', 'MasVnrArea', 'GarageYrBlt'],
 'int64': ['Id',
  'MSSubClass',
  'LotArea',
  'OverallQual',
  'OverallCond',
  'YearBuilt',
  'YearRemodAdd',
  'BsmtFinSF1',
  'BsmtFinSF2',
  'BsmtUnfSF',
  'TotalBsmtSF',
  '1stFlrSF',
  '2ndFlrSF',
  'LowQualFinSF',
  'GrLivArea',
  'BsmtFullBath',
  'BsmtHalfBath',
  'FullBath',
  'HalfBath',
  'BedroomAbvGr',
  'KitchenAbvGr',
  'TotRmsAbvGrd',
  'Fireplaces',
  'GarageCars',
  'GarageArea',
  'WoodDeckSF',
  'OpenPorchSF',
  'EnclosedPorch',
  '3SsnPorch',
  'ScreenPorch',
  'PoolArea',
  'MiscVal',
  'MoSold',
  'YrSold',
  'SalePrice'],
 'object': ['MSZoning',
  'Street',
  'Alley',
  'LotShape',
  'LandContour',
  'Utilities',
  'LotConfig',
  'LandSlope',
  'Neighborhood',
  'Condition1',
  'Condition2',
  'BldgType',
  'HouseStyle',
  'RoofStyle',
  'RoofMatl',
  'Exterior1st',
  'Exterior2nd',
  'MasVnrType',
  'ExterQual',
  'ExterCond',
  'Foundation',
  'BsmtQual',
  'BsmtCond',
  'BsmtExposure',
  'BsmtFinType1',
  'BsmtFinType2',
  'Heating',
  'HeatingQC',
  'CentralAir',
  'Electrical',
  'KitchenQual',
  'Functional',
  'FireplaceQu',
  'GarageType',
  'GarageFinish',
  'GarageQual',
  'GarageCond',
  'PavedDrive',
  'PoolQC',
  'Fence',
  'MiscFeature',
  'SaleType',
  'SaleCondition']}

In [8]:
max_values = {}

In [9]:
object_values = {}

In [10]:
for column in train.columns:
  if column == 'SalePrice' or column == 'Id':
    pass
  elif column not in dtype['object']:
    max_value = max(train[column])
    max_values[column] = max_value
    train[column] = train[column]/max_value
  else:
    k = 1
    for data in train[column]:
      if data not in object_values:
        object_values[data] = k
        k += 1
      else:
        pass

In [11]:
max_values

{'1stFlrSF': 4692,
 '2ndFlrSF': 2065,
 '3SsnPorch': 508,
 'BedroomAbvGr': 8,
 'BsmtFinSF1': 5644,
 'BsmtFinSF2': 1474,
 'BsmtFullBath': 3,
 'BsmtHalfBath': 2,
 'BsmtUnfSF': 2336,
 'EnclosedPorch': 552,
 'Fireplaces': 3,
 'FullBath': 3,
 'GarageArea': 1418,
 'GarageCars': 4,
 'GarageYrBlt': 2010.0,
 'GrLivArea': 5642,
 'HalfBath': 2,
 'KitchenAbvGr': 3,
 'LotArea': 215245,
 'LotFrontage': 313.0,
 'LowQualFinSF': 572,
 'MSSubClass': 190,
 'MasVnrArea': 1600.0,
 'MiscVal': 15500,
 'MoSold': 12,
 'OpenPorchSF': 547,
 'OverallCond': 9,
 'OverallQual': 10,
 'PoolArea': 738,
 'ScreenPorch': 480,
 'TotRmsAbvGrd': 14,
 'TotalBsmtSF': 6110,
 'WoodDeckSF': 857,
 'YearBuilt': 2010,
 'YearRemodAdd': 2010,
 'YrSold': 2010}

In [12]:
object_values

{'1.5Fin': 3,
 '1.5Unf': 4,
 '1Fam': 1,
 '1Story': 2,
 '2.5Fin': 8,
 '2.5Unf': 7,
 '2Story': 1,
 '2Types': 6,
 '2fmCon': 2,
 'ALQ': 2,
 'Abnorml': 2,
 'AdjLand': 4,
 'AllPub': 1,
 'Alloca': 5,
 'Artery': 4,
 'AsbShng': 9,
 'AsphShn': 12,
 'Attchd': 1,
 'Av': 3,
 'BLQ': 5,
 'Basment': 5,
 'Blmngtn': 22,
 'Blueste': 25,
 'Bnk': 2,
 'BrDale': 23,
 'Brk Cmn': 3,
 'BrkCmn': 2,
 'BrkComm': 11,
 'BrkFace': 5,
 'BrkSide': 9,
 'BrkTil': 2,
 'BuiltIn': 3,
 'C (all)': 3,
 'CBlock': 15,
 'COD': 3,
 'CWD': 6,
 'CarPort': 4,
 'CemntBd': 7,
 'ClearCr': 20,
 'ClyTile': 8,
 'CmentBd': 2,
 'CollgCr': 1,
 'CompShg': 1,
 'Con': 8,
 'ConLD': 4,
 'ConLI': 5,
 'ConLw': 7,
 'Corner': 3,
 'Crawfor': 3,
 'CulDSac': 4,
 'Detchd': 2,
 'Duplex': 3,
 'Edwards': 16,
 'Ex': 3,
 'FR2': 2,
 'FR3': 5,
 'FV': 4,
 'Fa': 4,
 'Family': 6,
 'Feedr': 2,
 'Fin': 2,
 'Flat': 5,
 'Floor': 6,
 'FuseA': 3,
 'FuseF': 2,
 'FuseP': 4,
 'GLQ': 1,
 'Gable': 1,
 'Gambrel': 3,
 'Gar2': 1,
 'GasA': 1,
 'GasW': 2,
 'Gd': 1,
 'GdPrv': 3,
 'GdWo': 2,
 'Gilbert': 18,
 'Grav': 3,
 'Grvl': 2,
 'Gtl': 1,
 'HLS': 4,
 'HdBoard': 4,
 'Hip': 2,
 'IDOTRR': 14,
 'IR1': 2,
 'IR2': 3,
 'IR3': 4,
 'ImStucc': 14,
 'Inside': 1,
 'Low': 3,
 'Lvl': 1,
 'LwQ': 6,
 'Maj1': 3,
 'Maj2': 5,
 'Mansard': 4,
 'MeadowV': 15,
 'Membran': 5,
 'Metal': 3,
 'MetalSd': 2,
 'Min1': 2,
 'Min2': 4,
 'Mitchel': 5,
 'Mix': 5,
 'Mn': 2,
 'MnPrv': 1,
 'MnWw': 4,
 'Mod': 2,
 'N': 2,
 'NAmes': 12,
 'NPkVill': 21,
 'NWAmes': 7,
 'New': 2,
 'No': 1,
 'NoRidge': 4,
 'NoSeWa': 2,
 'None': 1,
 'Norm': 1,
 'Normal': 1,
 'NridgHt': 11,
 'OldTown': 8,
 'Oth': 9,
 'OthW': 5,
 'Other': 4,
 'Othr': 2,
 'P': 1,
 'PConc': 1,
 'Partial': 3,
 'Pave': 1,
 'Plywood': 8,
 'Po': 1,
 'PosA': 8,
 'PosN': 3,
 'RFn': 1,
 'RH': 5,
 'RL': 1,
 'RM': 2,
 'RRAe': 5,
 'RRAn': 7,
 'RRNe': 9,
 'RRNn': 6,
 'Rec': 4,
 'Reg': 1,
 'Roll': 7,
 'SBrkr': 1,
 'SFoyer': 5,
 'SLvl': 6,
 'SWISU': 24,
 'Sawyer': 10,
 'SawyerW': 13,
 'Sev': 3,
 'Shed': 6,
 'Slab': 4,
 'Somerst': 6,
 'Stone': 13,
 'StoneBr': 19,
 'Stucco': 10,
 'TA': 2,
 'Tar&Grv': 6,
 'TenC': 3,
 'Timber': 17,
 'Twnhs': 5,
 'TwnhsE': 4,
 'Typ': 1,
 'Unf': 3,
 'Veenker': 2,
 'VinylSd': 1,
 'WD': 1,
 'Wall': 4,
 'Wd Sdng': 3,
 'Wd Shng': 1,
 'WdShake': 4,
 'WdShing': 6,
 'WdShngl': 2,
 'Wood': 3,
 'Y': 1,
 nan: 1}

In [13]:
average_value = {}

In [14]:
for column in train.columns:
  if column not in dtype['object']:
    average = train[column].mean()
    train[column] = train[column].fillna(average)
    average_value[column] = average
  else:
    pass

In [15]:
average_value

{'1stFlrSF': 0.24778915437527002,
 '2ndFlrSF': 0.16803509237453965,
 '3SsnPorch': 0.0067117894509761645,
 'BedroomAbvGr': 0.3583047945205479,
 'BsmtFinSF1': 0.07860377853072238,
 'BsmtFinSF2': 0.0315802680247579,
 'BsmtFullBath': 0.14178082191780916,
 'BsmtHalfBath': 0.028767123287671233,
 'BsmtUnfSF': 0.24282551838994165,
 'EnclosedPorch': 0.03977193766130632,
 'Fireplaces': 0.20433789954337941,
 'FullBath': 0.5216894977168943,
 'GarageArea': 0.3335543984388589,
 'GarageCars': 0.4417808219178082,
 'GarageYrBlt': 0.9843314248193404,
 'GrLivArea': 0.2686039877047387,
 'HalfBath': 0.19143835616438357,
 'Id': 730.5,
 'KitchenAbvGr': 0.34885844748857775,
 'LotArea': 0.04885980200326034,
 'LotFrontage': 0.22380178392340797,
 'LowQualFinSF': 0.01021769326563847,
 'MSSubClass': 0.2994592645998575,
 'MasVnrArea': 0.06480328856749315,
 'MiscVal': 0.002805744586831639,
 'MoSold': 0.5268264840182646,
 'OpenPorchSF': 0.08530214620219882,
 'OverallCond': 0.6194824961948213,
 'OverallQual': 0.6099315068493183,
 'PoolArea': 0.0037383524520176706,
 'SalePrice': 180921.19589041095,
 'ScreenPorch': 0.03137699771689497,
 'TotRmsAbvGrd': 0.46555772994129296,
 'TotalBsmtSF': 0.17306537676837863,
 'WoodDeckSF': 0.10997026901743899,
 'YearBuilt': 0.9807302528453625,
 'YearRemodAdd': 0.9874953997137589,
 'YrSold': 0.998913310161527}

In [16]:
for data in object_values:
  train.replace(to_replace=data, value = object_values[data], inplace=True)

train = train.fillna(0)

In [17]:
for column in train.columns:
  for data in train[column].isnull():
    if data == True:
      print(column)

In [18]:
train

        Id  MSSubClass  MSZoning  ...  SaleType  SaleCondition  SalePrice
0        1    0.315789         1  ...         1              1     208500
1        2    0.105263         1  ...         1              1     181500
2        3    0.315789         1  ...         1              1     223500
3        4    0.368421         1  ...         1              2     140000
4        5    0.315789         1  ...         1              1     250000
...    ...         ...       ...  ...       ...            ...        ...
1455  1456    0.315789         1  ...         1              1     175000
1456  1457    0.105263         1  ...         1              1     210000
1457  1458    0.368421         1  ...         1              1     266500
1458  1459    0.105263         1  ...         1              1     142125
1459  1460    0.105263         1  ...         1              1     147500

[1460 rows x 81 columns]

In [19]:
train.to_csv("/content/drive/Shared drives/Kaggle/house_prices/data/train_data_20_8_4.csv", index=False)

In [20]:
for column in test.columns:
  if column == 'SalePrice' or column == 'Id':
    pass
  elif column not in dtype['object']:
    test[column] = test[column]/max_values[column]
  else:
    pass

In [21]:
for column in test.columns:
  if column not in dtype['object']:
    test[column] = test[column].fillna(average_value[column])
  else:
    pass

In [22]:
for data in object_values:
  test.replace(to_replace=data, value = object_values[data], inplace=True)

test = test.fillna(0)

In [23]:
for column in test.columns:
  for data in test[column].isnull():
    if data == True:
      print(column)

In [24]:
test

        Id  MSSubClass  MSZoning  ...   YrSold  SaleType  SaleCondition
0     1461    0.105263       5.0  ...  1.00000         1              1
1     1462    0.105263       1.0  ...  1.00000         1              1
2     1463    0.315789       1.0  ...  1.00000         1              1
3     1464    0.315789       1.0  ...  1.00000         1              1
4     1465    0.631579       1.0  ...  1.00000         1              1
...    ...         ...       ...  ...      ...       ...            ...
1454  2915    0.842105       2.0  ...  0.99801         1              1
1455  2916    0.842105       2.0  ...  0.99801         1              2
1456  2917    0.105263       1.0  ...  0.99801         1              2
1457  2918    0.447368       1.0  ...  0.99801         1              1
1458  2919    0.315789       1.0  ...  0.99801         1              1

[1459 rows x 80 columns]

In [25]:
test.to_csv("/content/drive/Shared drives/Kaggle/house_prices/data/test_data_20_8_4.csv", index=False)